.rett-inntak {
-fx-border-color: grey;
}
.rangt-inntak{
-fx-border-color: red;
}

.button-bar {
    -fx-spacing: 20;
    -fx-padding: 10px;
}
.button-bar .button {
    -fx-font-size: 14px;
    -fx-padding: 8px 10px;

}
.main-container {
    -fx-padding: 10px;
}

.left-panel, .right-panel{
    -fx-spacing: 10px;
    -fx-padding: 5px;
}

#fxVelkominnText, #fxKvedjaText {
    -fx-font-size: 18px;
}
